li
{
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}
h1{
	margin-top:0px;
	margin-bottom: 0px;
}
.header_top {
	background-color:#dcdcdc;
	height: 40px;
}
.pull-left li{
	display: inline;
	margin-left: 20px;
}
.pull-left{
	float: left;
	    margin-top: 5px;
}
.pull-right
{
	
	margin-right: 22px;
    margin-top: 5px;
}
.navbar-inverse{
	background-color: #162357;
	border: none;
	border-radius:0px;
	min-height: 69px;
}
.navbar-nav	 li a {
	color: #fff!important;

}
.logo {
	position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
	}
.sp{
	margin-left: 7px;
}
.box_footer{
	background-color: #242a57;
	color: #fff;
	min-height: 300px;
	margin-right: 0px;
    margin-left: 0px;
}
}
@media all and (max-width: 1024px) {
   .logo {
   display: none;
}
}
.menu
{
	margin:8px;
	
}

.box_footer .col1 ul  li ,.box_footer .col2 ul li {
	margin-top:15px;
}
.bg_slider  img{
	width: 100%;
	height: 425px;
	margin-top: -20px;

}
.product_margin{
	margin:0 auto;
	background-color: red;
}
.menu_left{
	
	background: blue;
	border: 1px solid #fFF;
	float: left;
	
}

.menu_left ul li{
	border-bottom: 1px solid gray;
	margin-top: 25px;
	cursor: pointer;
}
.product_box{
	float: left;
}
.product_box .row{
	margin-left: 0px;
	margin-right:0px;
}

.detail_pro{
	
	text-align: center;
	font-weight: bold;
	position: relative;
	background: #ffffff;
	border: 1px solid red;
}
.icon_heart
{
	position: absolute;
    top: 0px;
    left: 230px;

}

/*.ctn_pro
{
	background: #ffe5e5;
	width: 1170px;
}*/



.container_margin
{
	width: 1000px;
	background: url('image/colum.png') no-repeat;
	margin: 0 auto;
	min-height: 700px;
	
}
.product-filter {
  display: flex;
}
.product-filter h3 {
  flex-grow: 1;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}
.footer .footer__top{

	background-color: #242a57;

}
.footer .footer__bottom{
	background: #121a3e;
	text-align: center;
	height: 50px;
	color: white;
}
.footer .footer__bottom p {
	padding-top:15px;
}
.col3 ul li ,.col4 ul li{

	margin-top: 15px;
}
.navbar-nav li a:active {
border-bottom: 1px solid red;
}
.active{
	border-bottom: 1px solid red;

}
.header_top .container a{
	color: black;
	cursor: pointer;

}
.header_top .container a:hover{
	text-decoration:none;
	color: #fff;

}
.list-menu-left{
	margin-bottom: 5px;
	border:none;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	background: #fff;
;
}
.panel-body
{
	padding: 0px;
}

.panel-heading{
	background-color:#fff!important;
	border:none;
}
.panel-heading .panel-title	.img-arrow{
	position: absolute;
	left: 85%;
}
.panel-body #sub-menu-left li {
	margin-top: 15px;
}
.panel-body #sub-menu-left li a {
	color:black
}
.glyphicon-search{
	cursor: pointer;
}
.product-detail{
	text-align: center;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
	position: relative;
}
.product-rating{
	margin-top: 10px;
}
.icon-heart{
	color: #dbdbdb;
    position: absolute;
    left: 80%;
    top: 3%;
    font-size: 25px;
}
.product-img img{
	width: 100%;
}
.content h1 {
	color:#162357
}
.product-rating{
	color: red;
	font-size: 18px;
}
.product-detail-hover{
	position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    padding-top: 92px;
    display: none;	


	/*text-align: center;*/
/*	display: none;*/
}
.product-detail-hover .button {
	border-radius: 9px;
	margin-top:25px;
}
.product-detail-hover .button button{
	background: #23c0da; 
}
.product-detail-hover .product-infor small{
	color: #fff!important;
}
.product-detail:hover .product-detail-hover{
display: block;
color: #fff;
font-weight: bold;
background: rgba(22, 35, 87, 0.9);
opacity: 0.9;
}
.icon-heart:hover{

color: red;	
}
.product-img img{
	max-height: 213px;
}
.product-content .row{
	border-bottom: 2px solid #ddd;
}
.pagination_product{
	margin-left: 42%;
}
.price-color{
	border: none;
}
.color1{
	background-color:red;
	width:40px;
	height:38px;
	float: left;
	margin-left: 7px;
	border-radius: 8px;

}
.color2{
	background: #1de6b0;
	width: 40px;
	height: 38px;
	float: left;
	margin-left: 7px;
	border-radius: 8px;
	
}
.color3{
	background:#56e61d;
	width: 40px;
	height: 38px;
	float: left;
	margin-left: 7px;
	border-radius: 8px;
}
.color4{
	background: #1d5fe6;
	width: 40px;
	height: 38px;
	float: left;
	margin-left: 7px;
	border-radius: 8px;
	
}
.slide-rager
{
	position: relative;
}
.left-ranger{
	float: left;
}
.right-ranger{
	float: right;
}
.mid-ranger{
	position: absolute;
	width: 80%;
	top: 7px;
}
.mid-ranger img{
	position: absolute;
	width: 100%;	
}